alias p='/usr/bin/python'
alias s='source ~/.bashrc'
alias sz='source ~/.zshrc'
alias sa='source ~/.aliases'
alias ll='ls -lh'
alias la='ll -a'
alias lt='ls -lrth'
alias ta='tmux a'

alias pbuild='python setup.py build'
alias ptest='PYTHONPATH=. nosetests test'

alias aread='avro-read'
alias sb='snakebite'
alias sls='snakebite ls'
alias sdu='snakebite du -h'

alias sbtp='sbt package'
alias sbtt='sbt test'

alias pbuild='p setup.py build'
alias ptest='PYTHONPATH=. nosetests test'
